* {
  padding: 0;
  margin: 0;
}

body {
  padding: 35px;
}

@keyframes fadeIn {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(
      to right,
      rgba(0, 128, 255, 0.85),
      rgba(0, 255, 255, 0.85)
    ),
    url(img/hero.jpg);
  clip-path: polygon(0 15%, 100% 5%, 100% 90%, 0% 100%);
}

.header-text {
  position: absolute;
  top: 35%;
  color: white;
  font-size: 64px;
  animation: fadeIn 2s ease-out;
}

.btn {
  margin-top: 16px;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 55px;
  border: none;
  transition: all;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.15);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 4px 3px rgb(0, 0, 0, 0.15);
}
